body {
  background-color: white;
  padding: 20px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1em;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #3369E7;
}

em {
  background-color: rgb(248, 248, 132);
}

.button {
  background: linear-gradient(to bottom left, #3369E7, #00AEFF);
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  margin: 0 5px;
  font-weight: bold;
  font-size: 15px;
}

.column {
  float:left;
  padding: 10px;
}

/* SearchBox */
.search-box {
  padding: 10px;
  padding-left: 0;
}

.search-box__label {
  display: none;
}

.search-box__input {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #EEE;
  font-weight: bold;
  font-size: 15px;
}

.search-box__autocomplete {
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 4px #EEE;
  border-radius: 5px;
  padding: 20px;
}

.search-results__list {
  padding: 0;
}

.search-results__item {
  list-style: none;
  padding: 3px;
}

.search-results__link.active {
  background-color: #3369E7;
  color: white;
}

.ais-powered-by {
  margin-bottom: 10px;
}
